.to-info-secret {
  height: 70vh;
  background: var(--bg-darker-color) url(../../../images/sots_kauf.svg) no-repeat bottom right;
  max-width: calc(100% - var(--aside-width));
}

.to-info-secret__content {
  height: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  
}