.listchoices {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 141.1%;
  letter-spacing: -0.015em;

  color: var(--theme-white-color);
}

.listchoices_column {
  flex-direction: column;
}

.listchoices__list-item {
  padding: 20px;
  flex-basis: 100%;
  background-color: #2F2F2F;
  text-align: center;
}

.listchoices__list-item_column {
  margin-bottom: 10px;
}

.listchoices__list-item_column:last-of-type {
  margin-bottom: 0;
}

.listchoices__list-item_active {
  background-color: #AD280B;
}