<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
</head>
<body class="page">
  <aside class="aside">
    <%= require('html-loader!./insets/asides/in-aside.html').default %>
  </aside>
  <header class="header header_block">
    <div class="uwrapper" style="display: flex; align-items: flex-end; justify-content: space-between;">
      <img class="header__logo-img" style="max-width: 250px;" src="<%=require('./images/svg-elems/u-logo-horiz.svg')%>" alt="Лого Ютермо">
      <div class="header__nav-side">
        <%= require('html-loader!./insets/asides/nav-page.html').default %>
       </div>
    </div>
    <a href="/" class="header__logo-link-container breadcrumbs__logo">
      <img class="header__logo-img"  src="<%=require('./images/svg-elems/u-flogo.svg')%>" alt="Лого Ютермо">
    </a>
    <div class="breadcrumbs">
      <a href="/" class="header__logo-link-container breadcrumbs__logo">
        <img class="header__logo-img"  src="<%=require('./images/svg-elems/u-flogo.svg')%>" alt="Лого Ютермо">
      </a>
      <ul class="bem__list bem__list_line breadcrumbs__list">
        <li class="breadcrumbs__list-item"><a class="bem__link" href="/blog-proizvodstva">Инфо</a></li>
        <li class="breadcrumbs__list-item breadcrumbs__list-item_here"><a class="bem__link" href="/<%= htmlWebpackPlugin.options.filename %>"><%= htmlWebpackPlugin.options.heading %></a></li>
      </ul>
    </div>
    <div class="header__nav-side">
     <!-- <%= require('html-loader!./insets/asides/nav-page.html').default %>-->
    </div>
  </header>
    <main class="content">
      <section class="info-section">
        <div class="info-section__aside">
          <h1 class="info-section__title"><%= htmlWebpackPlugin.options.heading %></h1>
          <p class="info-section__subtitle">Теплообменники пар-вода используются в коммунальной энергетики в котельных с паровыми котлами.</p>
          <div class="info-section__photo-container">
            <img class="info__aside-img"  alt="<%= htmlWebpackPlugin.options.title %>" src="<%= isGkh ? require('./images/main_mini/ti45_new.png') : require('./images/main_mini/many-section-grid.png') %>">
          </div>

          <div>
            <a class="bem__link bem__link_download info-section__link info-section__link_bg" href="#">Скачать опросный лист</a>
            <a class="bem__link bem__link_download info-section__link info-section__link_bg" style="margin-top:10px;" href="#">Скачать каталог</a>
            <a class="bem__link bem__link_arrowup info-section__link" style="margin-top:10px;" href="#">Рассчитать теплообменник</a>
          </div>
        </div>
        <article class="article info-section__article">
              <%= require('html-loader!./articles/' + articleFile).default %>
        </article>
      </section>
    </main>
    <!--<section class="map">
      <h2 class="map__heading">Партнеры по продажам и сервису по всей России</h2>
      <div class="map__list-container">
        <ul class="map__list">
        </ul>
        Сюда встанут карточки партнеров
        <div class="map__popup">
          <span class="map__popup-close">&lt;-- Назад</span>
          <ul class="map__popup-container"></ul>
        </div>
      </div>-->
      <div class="map__partner"></div>
    </section>
    <%= require('html-loader!./insets/asides/inner-footer.html').default %>
  </div>
  <!--Шаблон формы-->
  <template class="form-big-template">
    <%= require('html-loader!./insets/big-form-template.html').default %>
  </template>
  <!--Шаблон элемента партнера на карте-->
  <template id="partner-item-template">
    <li class="map__list-item" data-html="<b>ООО «Интерсервис»</b><br> Тел.: 8-914-130-30-30<br>">Чита</li>
  </template>
</body>
</html>
